node_modules
public/spm_modules
config_migrant.py
.anvil
.DS_Store
.idea
config.yml
*.psd
*.pyc
*.sh
*.log
venv
nohup.out
static/css/*.css
static/node_modules
static/extension
static/extension.pem
settings.json
