extends layout

block content

  //- need var : user,favs,current,index,pages
  //- tuser所查看用户,current当前用户,index当前分页,favs收藏,pages总页数
  
  div.favs
    each fav in favs
      div.piece(data-id='#{fav.id}')
        if current && tuser && current.id == tuser.id
          div.del.icon-times
        div.piece-body(style='overflow: auto')
          div.content
            a(href='/piece/#{fav.id}', target='_blank')  #{fav.content}
          div.addtime
              if fav.created
                  - var t = new Date(fav.created)
                  = t.getFullYear() + '-' + t.getMonth() + '-' +t.getDate()

              



