doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/base.css')
    if name
      link(rel='stylesheet', href='/css/#{name}.css')
    link(rel='shortcut icon', href='/favicon.ico')
  meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
  meta(property='wb:webmaster', content='0ef8bb0ecec85d2f')
  body
    #hd
      .tt
        a(href='/')
          span.quote 「 
            | 每思每刻
          span.quote 」
      .account
        if user
          img.avatar(src='#{user.avatar}')
        else 
          img.avatar(src='/img/default-avatar.png')
        ul.menu
          if user
            li.menu-item
              a#write-note(href='/add') 写一点
            li.menu-item
              a#write-note(href='/pieces') 我的时刻
            li.menu-item
              a(href='/users/logout') 退出
          else
            li.menu-item
              a.login_douban(href='#')
                img(src='http://img3.douban.com/pics/douban-icons/favicon_24x24.png', title='豆瓣登录')
            li.menu-item
              a.login_weibo(href='/users/login')
                img(src='http://www.sinaimg.cn/blog/developer/wiki/LOGO_24x24.png', title='微博登录')
    #bd
      block content
    #ft
      span#creator 站点施工中
      a#tools(href='javascript:;') 小工具
      a#about(href='javascript:;') 关于
      a(href='javascript:;') 移动应用
      if ENV == "DEV"
        a(href='javascript:;') DEV          