doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/base.css')
    if name
      link(rel='stylesheet', href='/css/#{name}.css')
    link(rel='shortcut icon', href='/favicon.ico')
    script(src='../spm_modules/seajs/2.3.0/dist/sea.js')
    script(src='../spm_modules/seajs-wrap/1.0.1/dist/seajs-wrap.js')
    if name
      script.
          seajs.config({
              base: "/spm_modules/",
              alias: {
                  "jquery": "jquery/2.1.1/jquery.js"
              }    
          })
          seajs.use('/js/#{name}.js')
  meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
  body
    #hd
      .tt
        a(href='/')
          span.quote 「 
            | 每思每刻
          span.quote 」
      .account
        if user
          img.avatar(src='#{user.avatar}')
        else 
          img.avatar(src='/img/default-avatar.png')
        ul.menu
          if user
            li.menu-item
              a#write-note(href='/add') 写一点
            li.menu-item
              a#write-note(href='/pieces') 我的时刻
            li.menu-item
              a(href='/users/logout') 退出
          else
            li.menu-item
              a.login_douban(href='/users/login/db')
                img(src='http://img3.douban.com/pics/douban-icons/favicon_24x24.png', title='豆瓣登录')
            li.menu-item
              a.login_weibo(href='/users/login/wb')
                img(src='http://www.sinaimg.cn/blog/developer/wiki/LOGO_24x24.png', title='微博登录')
            li.menu-item
              a.login_github(href='/users/login/gt')
                img(src='img/github.png', title='github登录')
    #bd
      block content
    #ft
      span#creator 沪ICP备14036472号
      a#about(href='javascript:;') 关于
      if ENV == "DEV"
        a(href='javascript:;') DEV          