| <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=858047680" type="text/javascript" charset="utf-8"></script>
#wb_connect_btn
script.
    WB2.anyWhere(function(W){
        W.widget.connectButton({
            id: "wb_connect_btn",   
            type:"3,2",
            callback : {
                login:function(o){  //登录后的回调函数
                },  
                logout:function(){  //退出后的回调函数
                }
            }
        });
    });