.new-form {
  margin: 0 auto;
  margin-top: 15px;
  width: 500px;
}
.new-form .box-text {
  position: relative;
  padding: 20px;
  background-color: #fff;
}
.new-form .box-text .textarea {
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  margin-bottom: 10px;
}
.new-form .box-text .input {
  box-sizing: border-box;
  width: 100%;
}
.new-form .box-text .funcs {
  position: absolute;
  top: 103px;
  left: 25px;
  cursor: pointer;
}
.new-form .box-text .funcs:before {
  content: ".";
  visibility: hidden;
}
.new-form .box-text .funcs li {
  float: left;
  color: #999;
  font-size: 24px;
}
.new-form .box-bottom {
  background-color: #3c3a37;
  padding: 0 20px 15px 20px;
}
.new-form .box-bottom:before {
  content: ".";
  visibility: hidden;
}
.new-form .box-bottom .btn {
  -webkit-appearance: none;
  border: none;
  color: #ebebeb;
  background-color: #61554a;
  float: right;
  padding: 6px 8px;
  font-size: 18px;
  border-radius: 0 0 3px 3px;
  margin: 0;
}
.new-form .box-bottom .share input {
  display: none;
}
.private-setting {
  float: left;
  margin-top: 5px;
}
.private-setting .private-label {
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.pic-row:before {
  content: ".";
  visibility: hidden;
}
.pic-row .pic-wrapper {
  position: relative;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.pic-row .pic-wrapper .icon-delete {
  display: none;
  cursor: pointer;
  top: -8px;
  right: -8px;
  position: absolute;
  color: #8ba367;
  font-size: 20px;
}
.pic-row .pic-wrapper .pic {
  background-color: #f1ece2;
  background-image: url("img/loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
.pic-row .pic-wrapper .pic .percent {
  line-height: 90px;
  text-align: center;
}
.pic-row .pic-wrapper .pic img {
  display: block;
}
.pic-row .pic-wrapper:hover .icon-delete {
  display: block;
}
.share {
  float: right;
  margin: 5px 10px 0 0;
  position: relative;
  top: -2px;
}
.share .lbl {
  color: #fff;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}
.share .sharebtn {
  background-image: url("/img/share_icons.png");
  width: 24px;
  height: 19px;
  position: relative;
  top: 5px;
  display: inline-block;
  cursor: pointer;
}
.toweibo {
  background-position: -50px 0;
}
.toweibo.active {
  background-position: -50px -20px;
}
.todouban {
  background-position: -72px 0;
}
.todouban.active {
  background-position: -72px -20px;
}
/* for iphone */
@media (max-width: 480px) {
  .new-form {
    width: auto;
    margin: 10px;
  }
  .new-form .box-text {
    padding: 10px;
  }
}
