.piece {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.piece .piece-inner {
  display: table-cell;
  vertical-align: middle;
}
.piece .piece-main {
  position: relative;
  margin: 0 auto;
  width: 480px;
}
.piece .piece-main .card {
  position: relative;
  z-index: 5;
  padding: 40px 40px 20px 40px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.piece .content {
  padding-bottom: 10px;
  word-wrap: break-word;
}
.piece .by {
  text-align: right;
  padding-bottom: 10px;
}
.piece .link {
  color: #fff;
  font-size: 20px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  text-align: center;
  top: 0;
  right: -30px;
  padding: 3px;
  background-color: #8ba367;
}
.piece .favs {
  margin-top: 15px;
}
.piece .favs:before {
  content: ".";
  visibility: hidden;
}
.piece .favs .bd {
  position: relative;
}
.piece .favs .like-wrap {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px dashed #ccc;
  background: #fff;
  float: left;
}
.piece .favs .icon-heart {
  font-size: 24px;
  display: block;
  cursor: pointer;
  transition: color 0.25s linear;
}
.piece .favs .icon-heart.liked {
  color: #f85d58;
}
.piece .favs .people {
  overflow: hidden;
  height: 24px;
  position: relative;
  float: left;
}
.piece .favs .people:before {
  content: ".";
  visibility: hidden;
}
.piece .favs .people ul {
  float: left;
  margin-left: -29px;
  -webkit-transition: margin 0.25s linear;
  -moz-transition: margin 0.25s linear;
  -o-transition: margin 0.25s linear;
  -ms-transition: margin 0.25s linear;
  transition: margin 0.25s linear;
}
.piece .favs .people ul.liked {
  margin-left: 0;
}
.piece .favs .people .fav-count {
  font-size: 13px;
  line-height: 24px;
  color: #999;
  margin-left: 8px;
  float: left;
}
.piece .favs .people .fav-count .count {
  margin: 0 3px;
}
.piece .favs li {
  float: left;
  margin-right: 5px;
}
.piece .favs img {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.withpic {
  padding-bottom: 80px;
  padding-top: 30px;
  position: static;
}
.withpic .pics {
  position: relative;
}
.withpic .pics .last,
.withpic .pics .next {
  position: absolute;
  top: 50%;
  display: none;
  color: #333;
}
.withpic .pics .last {
  left: -20px;
}
.withpic .pics .next {
  right: -20px;
}
.withpic .pics img {
  width: 100%;
}
.box-title {
  color: #fff;
  background-color: #3c3a37;
  padding: 10px;
}
.box-login-body {
  text-align: center;
}
.box-login-body .login_douban {
  margin-right: 10px;
}
.box-login-body .login_weibo {
  margin-left: 10px;
}
/* for iphone */
@media (max-width: 480px) {
  .piece .piece-main {
    width: auto;
    box-sizing: border-box;
    margin: 0 10px;
  }
  .piece .link {
    top: -27px;
    right: 0;
  }
  .people ul {
    width: 87px;
  }
}
